/*
Selector universal (todos)*
Selector de tipo (div, h1, input, h2, span...)
Selector de clase (.nombreDeClase)
Selector de identificador (#id)
*/



@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

/* Formato del fondo.*/
body{
    background-color: orange;
}

/* Formato de la caja.*/
#cuadroPrincipal{
    width: 40%;
    margin: auto;
    background-color: white;
    padding: 40px;
}

/* Formato del botón.*/
.botonazul{
    background-color: turquoise;
    color: white;
}

/* Centrado de los textos de la caja.*/
#cuadroPrincipal p {
    text-align: center;
}

/* Formato de los elementos de la caja.*/
.ancho100 {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.textoChico {
    font-size: 0.6em;
}

.fondoGris {
    background-color: gainsboro;
}
