/*
#cabecera {
    background-color: blue;
    height: 100px;
}

#cuerpoD {
    background-color: green;
    width: 50%;
    float: left;
}
*/
#cuerpoI {
    /* Características del contenedor.*/
    width: 50%;
}

#contenido {
    float: left;
    text-align: right;
    width: 550px;

    /* Características del texto.*/
    font-family: Helvetica, Arial, sans-serif;
    font-size: 25px;
    color: #1D3C78;

 }